
@{
    ViewBag.Title = "Home Page";
}
@section Header{
    <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1></h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
}


    <!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="clearfix">
                <a class="btn btn-primary float-left" href="/Home/PostArticle">Post a new Article &rarr;</a>
            </div>
@foreach (var item in Model)
{
            <div class="post-preview">
                <a href="/Home/postdetail/@item.postId">
                    <h2 class="post-title">
                        @item.title
                    </h2>
                    <h3 class="post-subtitle">
                        @item.summary
                    </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">@item.userName</a>
                    on @item.postedDate
                </p>
            </div>
            <hr>
}
            <!-- Pager -->
            @if (Model.Count > 0)
            {
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="/Home/Index/@ViewBag.page">Older Posts &rarr;</a>
                </div>
            }

        </div>
    </div>
</div>